/* About page style*/
.aboutSubtitle {
    color: black;
    padding: 10px;
    margin-top: 33px;
    margin-left: 29px;
    margin-right: 18px;
    border-left: 10px groove skyblue;
    border-top: 10px groove skyblue;
    border-bottom: 0.5px groove skyblue;
    border-right: 1px groove skyblue;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
}